<!-- Alert Header -->
<div class="alert alert-light" role="alert">

  <div class="container-fluid">
    <div class="row align-items-center flex-wrap">
      
      <!-- Logo -->
      <div class="col-12 col-md-3 text-center text-md-start mb-3 mb-md-0">
        <a class="navbar-brand" href="/index.html">
          <img src="images/Logo/SunriseTexasLogo.jpg" alt="Sunrise Texas Insurance Logo" class="img-fluid" width="250" id="indexlogo">
        </a>
      </div>

      <!-- Contact Info -->
      <div class="col-12 col-md-6 d-flex flex-wrap justify-content-center gap-3 mb-3 mb-md-0">
        <p class="phoneNumber m-2"><strong>Houston:</strong> <i class="fas fa-phone-alt"></i> <a href="tel:8326455100" class="text-dark">(832) 645-5100</a></p>
        <p class="phoneNumber m-2"><strong>Lake Jackson:</strong> <i class="fas fa-phone-alt"></i> <a href="tel:9792825500" class="text-dark">(979) 282-5500</a></p>
        <p class="phoneNumber m-2"><strong>Rio Grande Valley:</strong> <i class="fas fa-phone-alt"></i> <a href="tel:9565194663" class="text-dark">(956) 519-4663</a></p>
        <p class="phoneFax m-2"><strong>Fax:</strong> <i class="fas fa-fax"></i> (979) 393-0038</p>
        <p class="email m-2"><strong>Email:</strong> <i class="fas fa-envelope-open-text"></i> <a href="mailto:docs@sunrisetexas.com" class="text-dark">docs@sunrisetexas.com</a></p>
      </div>

      <!-- Right Side: Spanish Text & Button -->
      <div class="col-12 col-md-3 text-center text-md-end">
        <h5 class="mb-2">Se Habla Español</h5>
        <div class="col-lg-1"><button type="button" class="btn btn-info contactUs" id='contactUs' data-toggle="modal" data-target=".bd-example-modal-lg">
            Contact Us!
        </button>
</div>
</div>
</div>
</div>


<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-light" id='navBar'>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            
        <li class="nav-item active ">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Personal Insurance
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="AutoInsurance.html">Auto Insurance</a>
            <a class="dropdown-item" href="HomeInsurance.html">Home Insurance</a>
            <a class="dropdown-item" href="Renters.html">Renters Insurance</a>
            <a class="dropdown-item" href="Condo.html">Condo Insurance</a>
            <a class="dropdown-item" href="LifeInsurance.html">Life Insurance</a>

        </div>
    </li>
        
        <li class="nav-item">
            <a class="nav-link" href="CompaniesWeRepresent.html">Companies We Represent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="AboutUs.html">About Us</a>
        </li>
        </ul>
    </div>
    
        <div class='navCommercialLink justify-content-end'>
            <ul class="navbar-nav">
            <li class="nav-item ">
            <a class="nav-link float-end" href="CommercialInsurance.html">Commercial Insurance</a>
            </li>
            </ul>

        </div>

        


</nav>


<!--Quote Request Modal Form-->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            <form >
               <div class="involveme_embed" data-project="contact-form-for-insurance"><script src="https://sydney-berglund.involve.me/embed"></script></div>
            </form>     



        </div>
    </div>
</div>
